#kru-mm-online-dropdown {
	right: 0;
	left: unset;
}

#kru-mm-online-button-container {
	position: relative;
}

.kru-mm-input-text {
	background: rgba(0, 0, 0, 0.161);
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.kru-mm-input-text:focus {
	outline: 0;
}

.kmm-modal-tray {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.kmm-modal-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 20px;
}

#kmm-friend-requests {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
}

.kmm-friend-request-bubble {
	padding: 5px;
}

.kmm-menu-notification-number {
	background-color: #ff4545;
	padding: 2px 8px;
	border-radius: 10px;
	margin-left: 4px;
}

.kmm-notification-circle {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 15px;
	height: 12px;
	border-radius: 10px;
	background-color: #ff4545;
	color: white;
	font-size: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.kmm-icon-selector {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 20px;
}

.kmm-icon-picked {
	border: 1px solid green;
}

.kmm-friend {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 50px;
}

.swal2-title {
	padding: 0;
}

.kmm-col {
	display: flex;
	flex-direction: column;
}

.kmm-transfer-bg {
	background-color: #179CD8 !important;
}

.kmm-transfer-border {
	border-color: #179CD8 !important;
}

.kmm-exchange-border {
	border-color: #17d873 !important;
}

.kmm-transfer-buttons {
	padding-top: 0 !important;
}

.kmm-dual-trade {
	display: grid;
	grid-template-columns: 1fr 1px 1fr;
}

.kmm-dual-trade-panel h5 {
	text-align: center;
	margin-bottom: 0;
}

.kmm-dual-trade-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.kmm-dual-trade-items {
	display: flex;
}

.kmm-dual-trade-divider {
	border-right: 1px dashed #ffffff38;
	width: 1px;
	height: 100%;
}

.kmm-button-tray {
	height: 50px;
}

#bank-item-box {
	height: unset;
}

.kmm-transfer-info {
	display: flex;
	align-items: center !important;
	gap: 5px;
}

.kmm-gp-group {
	padding: 0 40px;
}

.kmm-charity-bg {
	background-color: #2B9546 !important;
}

.kmm-charity-border {
	border-color: #2B9546 !important;
}

.kmm-campaign-bg {
	background-color: #4A2670 !important;
}

.kmm-campaign-border {
	border-color: #4A2670 !important;
}

.kmm-campaign-active {
	display: flex;
	align-items: center;
	gap: 20px;
}

.kmm-campaign-active img {
	border-radius: 10px;
	height: 120px;
}

.kmm-campaign-active h4 {
	margin: 0;
}

.kmm-grayscale {
	filter: grayscale(1);
}

.kmm-campaign-active-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}