#kru-mm-online-dropdown {
	right: 0;
	left: unset;
}

#kru-mm-online-dropdown.connected .disconnected-menu {
	display: none;
}

#kru-mm-online-dropdown:not(.connected) .connected-menu {
	display: none;
}

#kru-mm-online-button-container {
	position: relative;
}

.kru-mm-input-text {
	background: rgba(0, 0, 0, 0.161);
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

.kru-mm-input-text:focus {
	outline: 0;
}

.kmm-modal-tray {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.kmm-modal-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 20px;
}

#kmm-friend-requests {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
}

.kmm-friend-request-bubble {
	padding: 5px;
}