<template id="template-kru-multiplayer-online-button">
	<div class="d-inline-block ml-1" id="kru-mm-online-button-container" @click="state.toggle_online_dropdown()">
		<button class="btn btn-sm btn-dual text-combat-smoke" id="kru-mm-online-button">
			<img class="skill-icon-xxs" :src="state.get_svg('multiplayer')"/>
		</button>
	</div>
</template>
<template id="template-kru-multiplayer-dropdown">
	<div class="dropdown-menu dropdown-menu-right p-0 border-0 font-size-sm" id="kru-mm-online-dropdown">
		<div class="p-2 connected-menu">
			<h5 class="dropdown-header text-warning">
				<lang-string lang-id="MOD_KMM_MENU_HEADER"></lang-string>
			</h5>
			<a class="dropdown-item">View Friends</a>
			<a class="dropdown-item" @click.stop="state.show_friend_request_modal()">
				<lang-string lang-id="MOD_KMM_MENU_SHOW_FRIEND_REQUESTS"></lang-string>
				<span class="kmm-notif-number" v-if="state.num_friend_requests > 0">{{ state.num_friend_requests }}</span>
			</a>
			<a class="dropdown-item" @click.stop="state.show_add_friend_modal()">
				<lang-string lang-id="MOD_KMM_MENU_ADD_FRIEND"></lang-string>
			</a>
			<a class="dropdown-item" @click.stop="state.show_friend_code_modal()">
				<lang-string lang-id="MOD_KMM_MENU_SHOW_FRIEND_CODE"></lang-string>
			</a>
		</div>
		<div class="p-2 disconnected-menu">
			<h5 class="dropdown-header text-warning">
				<lang-string lang-id="MOD_KMM_MENU_HEADER"></lang-string>
			</h5>
			<a class="dropdown-item" @click.stop="state.reconnect()">
				<lang-string lang-id="MOD_KMM_MENU_RECONNECT"></lang-string>
			</a>
		</div>
	</div>
</template>
<template id="template-kru-multiplayer-friend-code-modal">
	<div class="kmm-modal-text">
		<lang-string lang-id="MOD_KMM_MODAL_DESC_CODE"></lang-string>
	</div>
	<input class="kru-mm-input-text text-center" type="text"/>
</template>
<template id="template-kru-multiplayer-add-friend-modal">
	<div class="kmm-modal-text">
		<lang-string lang-id="MOD_KMM_MODAL_DESC_ADD_FRIEND"></lang-string>
		<span id="kmm-modal-error" class="d-none text-danger"></span>
	</div>
	<input class="kru-mm-input-text text-center" type="text" id="kmm-add-friend-modal-field" maxlength="11"/>
	<div class="kmm-modal-tray">
		<button type="button" class="btn btn-primary" id="kmm-modal-confirm-btn">
			<div class="spinner-border spinner-border-sm text-primary mr-2 d-none" role="status"></div>
			<lang-string lang-id="MOD_KMM_BUTTON_ADD_FRIEND"></lang-string>
		</button>
		<button type="button" class="btn btn-danger" id="kmm-modal-cancel-btn">
			<lang-string lang-id="MOD_KMM_BUTTON_CANCEL"></lang-string>
		</button>
	</div>
</template>
<template id="template-kru-multiplayer-friend-request-modal">
	<div class="kmm-friend-requests" v-if="state.events.friend_requests.length > 0">
		<div v-for="request in state.events.friend_requests" class="kmm-friend-request-bubble">
			<span>{{ request.display_name }}</span>
			<button type="button" class="btn btn-success" @click="state.accept_friend_request($event, request)">
				<div class="spinner-border spinner-border-sm text-primary mr-2 d-none" role="status"></div>
				<lang-string lang-id="MOD_KMM_BUTTON_ACCEPT_FRIEND"></lang-string>
			</button>
			<button type="button" class="btn btn-danger" @click="state.ignore_friend_request($event, request)">
				<lang-string lang-id="MOD_KMM_BUTTON_IGNORE_FRIEND"></lang-string>
			</button>
		</div>
	</div>
	<div class="kmm-modal-text" v-else>
		<lang-string lang-id="MOD_KMM_MODAL_NO_FRIEND_REQUESTS"></lang-string>
	</div>
</template>